// From https://css-tricks.com/snippets/css/css-triangle/ by [CHRIS COYIER]
// How it works http://stackoverflow.com/a/7073558

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}

/*
 * Creates CSS triangle
 * direction options: top, right, bottom, left.
 * Example @include cssTriangle(bottom, red, 50px);
 * http://stackoverflow.com/a/21402979
 * by [Andriy] & [Volker E.]
 */
@mixin triangle( $direction:left, $color:#000, $width:10px) {
  $opposite: nth((top,right,bottom,left), index((bottom,left,top,right), $direction));
  border: solid $width transparent;
  border-#{$direction}: none;
  border-#{$opposite}: solid $width $color;
}